@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: FigtreeItalic;
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

body {
    font-family: Figtree;
    background-color: hsl(47, 88%, 63%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 525px;
    border-radius: 20px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .category {
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    width: fit-content;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
}

.card h3 {
    font-weight: 400;
    font-size: 16px;
}

.card h1 {
    font-size: 23px;
    font-weight: 800;
}

.card p {
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}

.card .author {
    font-weight: 800; 
    font-size: 16px;
    display: flex;
    align-items: center;
}

.card .author img {
    object-fit: contain;
    height: 2em;
    margin: 5px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}